@charset 'utf-8';
* {
margin:0;
padding:0;
box-sizing: border-box;
}
form{
    width: 30%;
    margin: 0 auto;
    box-shadow: .5rem .5rem .5rem gray;
    padding: 1rem;
}
label,input{
    display: block;
    width: 90%;
}
button{
    margin-top: 1rem;
    padding: .3rem;
}
input::placeholder{
    color:red;
}