@charset 'utf-8';
* {
margin:0;
padding:0;
box-sizing: border-box;
}
form{
    
    width: 50%;
    margin:0 auto;
    box-shadow:5px 5px 5px gray;
    padding: 1rem;
}
input[type="text"],input[type="password"]{
    display: block;
    margin-bottom: 0.5rem;
}
