@charset "utf-8";
* {
margin:0;
padding:0;
box-sizing: border-box;
}
label{
    float:left;
}
input{
    float: right;
    width: 50%;
}
#ema,textarea{
    width: 100%;
}
div{
    clear:both;
}
form{
    width: 25%;
   margin: 0 auto;
   background-color: grey;
   padding: 2rem;
   border-radius: 1rem;
   display:flex;
   flex-direction: column;
   gap:.4rem; 
}
@media  (max-width:600px) {
    form *{
        width:100%;
    }
    form{
        width: 100%;
    }
}