@charset "utf-8";
* {
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    background-color: #cecece;
}

main{
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    padding: 1rem;
}
p.ayuda{
    border-bottom: 1px solid #cecece;
    margin: 1rem 0;
}
h2{
    line-height: 3rem;
    border-bottom: 1px solid #cecece;
    margin-bottom: 1rem;
}