@charset 'utf-8';
* {
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
width: 80%;
margin: 1rem auto;
}
header{
    border:1px solid blue;
    grid-column: span 4;
    height: 3rem;
}
section{
    border:1px solid blue;
    grid-column: span 3;
    height: 3rem;
}
aside{
    border:1px solid blue;
    grid-row: span 2;
}
article{
    border:1px solid blue;
    grid-column: span 3;
    height: 3rem;
}
footer{
    border:1px solid blue;
    grid-column: span 4;
    height: 3rem;
}

@media (max-width:900px){
    body{
        grid-template-columns: 1fr;
    }
    body>*{
        grid-column: span 1;
        height: 3rem;
    }
}