@charset 'utf-8';
* {
margin:0;
padding:0;
box-sizing: border-box;
}
span{
    color:red;
    display: inline-block;
    width:50%;
    height:50px;
    border:1px solid green;
text-align: center;
vertical-align: middle;
line-height: 50px;
}
.hexagon-image {
    width: 200px;
    height: 200px;
    background-image: url('../img/botebajoarbol.jpg');
    background-size: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hexagon-image2 {
    width: 200px;
    height: 200px;
    background-image:  url('../img/botebajoarbol.jpg');
    background-size: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: 10rem;
}

.move-me {
        offset-path: path("M 5,5 m -4,0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0");
        animation: move 3s linear infinite;
}

    @keyframes move { 100% { 
        offset-distance: 100%; } 
    }
    