@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    line-height: 5rem;
}

header img {
    width: 50%;
    display: block;
    float: left;
}

footer img {
    width: 100%;
    -webkit-mask-box-image: url("../img/logo_cip.svg");
    -moz-mask-box-image: url("../img/logo_cip.svg");
}