
/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Citas de Oscar Wilde      */
/*                                          */
/*  6 de enero de 2017                      */
/*                                          */

body {
  background-color: hsl(187, 100%, 60%);
  font-family: sans-serif;
  display:grid;
  grid-template-columns: auto ;
  justify-items: center;;
}

h1 {
  margin: 0;
  color: hsl(187, 100%, 20%);
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  width: 16rem;
  height: 16rem;
  overflow: auto;
  border: hsl(187, 100%, 20%) 5px dashed;
  margin: 10px;
  padding: 10px;
  background-color: hsl(187, 100%, 40%);
  font-size: 1.5rem;
  font-style: oblique;
  /* line-height: 150%; */
  /* He tenido que quitar line-height porque en Chrome e IE se perdía el efecto de letra capital */
}

p::first-letter {
  float: left;
  color: hsl(187, 100%, 20%);
  font-size: 5rem;
  font-style: normal;
  line-height: 3rem; /* para que se vea en IE y Chrome como en FF */
}



 @media (min-width: 670px) and (max-width: 1000px) {
    body {
        grid-template-columns: auto auto ;
      }

      h1 {
        font-size: 3rem;
        letter-spacing: 1.5rem;
        grid-column-start: 1;
        grid-column-end: 3;
      }


 }

 @media (min-width: 1001px) {
    body {
        grid-template-columns: auto auto auto;
      }

      h1 {
        font-size: 4rem;
        letter-spacing: 2rem;
        grid-column-start: 1;
        grid-column-end: 4;
      }

 }

